<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>Logger.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%level] [%thread] %logger{75} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="INTRODUCE" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>car-tracking.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] %msg%n</pattern>
        </encoder>
    </appender>

    <!--    <logger name="com.delphi.nice.training.controller" level="INFO"/>-->

    <logger name="com.delphi.nice.training.service" level="debug">
        <appender-ref ref="STDOUT"/>
    </logger>
    <!--    <logger name="com.delphi.nice.training.service.IntroduceServiceImpl" level="info" additivity="false">-->
    <!--        <appender-ref ref="INTRODUCE"/>-->
    <!--    </logger>-->


    <root level="INFO" addityvity="false">
        <!--        <appender-ref ref="STDOUT"/>-->
        <appender-ref ref="INTRODUCE"/>
    </root>

</configuration>